body {
	margin: 0px;
	padding: 15px;
	font-family: tahoma, verdana, 宋体;
	font-size: 11.5px;
	background: #fff;
}
a {
	padding: 3px;
}
a, a:visited {
	color: #164483;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul, li {
	list-style: none;
	text-align: left;
}
img {
	border: none;
}
dt {
	text-align: left;
}
input {
	font-size: 12px; padding:2px;
}
div {
	border: 0px #E8E8E8 solid;
}
form {
	padding: 0px;
	margin: 0px;
}
.td0 form {
	text-align: center;
}
.td0 a{
	margin-left:20px; text-decoration:underline;
}
.td0 a:hover{
	color:#FF3300;
}
.top {
	padding: 10px;
	width: 97%;
	background: #fff;
	text-align: left;
	line-height: 18px;
}
.top a {
	text-decoration: underline;
}


/*caiji3 列表*/
.title5{
	border-bottom: 1px #9EC0D1 dashed;
	padding-bottom:5px;
	margin-bottom: 10px;

}
.title5 a{
	font-size:14px; font-weight:bold;
}
.title5 strong{
	font-weight:bolder; background:#FFFF00; color:#FF0000;
}
.nphoto {
	display:none;
}
.ppbobox{
	display:none;
}
.l_222 table{
	display:none;
}
.z_0060{
	color:#222222;
}
.pagefen input{
	display:none;
}
.list {
}
.list b {
	font-size: 14px;
	color: #0C5A94;
	padding: 0px;
	text-align: left;
}
.list li a {
	margin-right: 30px; text-decoration:underline;
	}
.list li {
	border-bottom: 1px #9EC0D1 dashed;
	margin-bottom: 10px;
	float: left;
}
.span {
	display: none;
	padding-left: 10px;
}
hr {
	background: #EAEAEA;
	border: 0px;
	height: 1px;
}
.list li hr{
	border:0px;height:0px;margin:0px;  color:#F6FDFF; padding:0px;
}
.list li p{
	padding:0px;margin:0px;
}
h1 {
	font-size: 15pt;
	font-family: 黑体;
	font-weight: normal;
	text-align:left;
}
.page {
	width: 97%;
	padding: 10px;
}
.newsdetail_smtt {
	display: none;
}
#newsdetail-content-text  {
	text-align: left;
	width: 96%;
	padding: 10px;
	line-height: 20px;
}
#newsdetail-content-text TBODY FONT {
	display: none;
}
.ad {
	margin: 0 auto;
	border: 1px #FF6600 solid;
	background: #FFFF99;
	padding: 5px;
	margin-top: 30px;
	width: 600px;
}
#pagelist li {
	float: left;
	margin-right: 10px;
}
#pagelist img {
	display: none;
}
.td0 {
	border: 1px solid #AAC7E9;
	background: #F6FDFF;
	color: #004080;
	line-height: 30px;
	background: url('images/td0.gif');
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	padding-left: 20px;
}
.right lk_l{
	display:none;
}
.ntop{
	text-align:right;
}
.ntop a,.ipt{
	cursor:pointer;
	padding: 2px;
	cursor: pointer;
	margin-left: 10px;
	background-image:url(/admin/Images/BgLine.png);
	background-position:0 -120px;
	text-align:center;
	line-height:20px;
	border:1px solid #3396C6;
	color:#1163AC;
	font-size:12px;
	padding-left:5px;
}
.ipt{
	position:absolute;right:150px; width:160px; color:#FF0000;
}
.ntop a{
	position:absolute; right:350px;}
.dv980,#hc360head{
	display:none;
}
.mutual_phrase,.page_op{
display:none;
}

.list_news{
	border-bottom:1px dashed #9ec0d1;
}
.list_news h3{
	font-size:12px; color:#333;
}
.list_news h3 a{
	font-size:14px;
}
.list_news h3 a font{
	color:#CC0000; font-size:14px;
}
.list_news p font{
	color:#CC0000;  font-size:12px;
}
.news_list img{
	display:none;
}
.page_bottom{
	font-size:14px; 
}
.page_bottom a{
	text-decoration:none;
}
.page_bottom samp{
	font-weight:bold;padding-left:5px; padding-right:5px; color:#FF3300;
}

.page_bottom {
	padding: 15px 0 16px;
	font-size: 12px;
	text-align: left;
	clear: both;
}

.page_bottom a{
	padding:3px;margin-right:5px; margin-left:5px; border:1px #99CCFF solid;
	color:#0C5A94;
	padding-left:5px; padding-right:5px;
}
.page_bottom a:hover{
	background:#FF6600; color:#fff;border:1px solid #FF3300;
}

#main_s_content {
	color:#004080;
	padding-top:40px;
}
#main_s_content h1 {
	color: #004080;
	font-weight: normal;
	font-size: 15pt;
	font-family: 黑体;
	text-align:center;
}
#socaiji {

		font-weight:bold; font-size:14px; text-align:left;

}
#socaiji a{float:right;
	padding: 4px;
	cursor: pointer;
	margin-right: 10px;
	margin-top: 10px;
	background-image:url(/admin/Images/BgLine.png);
	background-position:0 -120px;
	text-align:center;
	line-height:20px;
	border:1px solid #3396C6;
	color:#1163AC;
	font-size:12px;
	padding-left:5px;
	font-weight:normal;
	display:inline-block;
	}
#socaiji #caiji{
	width:160px;
}
.returns{
	width:70px;
}
#socaiji span{
	display:inline-block;
	width:200px;
}
#mdltype {
	margin: 20px 20px 0px 0px;
	float: right;
}

#c_content {
border:1px solid #AAC7E9; background:#F6FDFF; color:#004080; line-height:30px;
		background:url('../caiji/images/td0.gif'); font-weight:bold; font-size:14px; text-align:center; padding-left:20px;
}
#c_content a{color:#164483}
ul, li, ol,a,dl,dd,dt{padding:0px;}
ul, li, ol,h3 ,p,a,dl,dd,dt{
	margin: 0px;
	font-family: tahoma, verdana, 宋体;
}
#search_kcss {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size:12px;
	padding-left:10px;
}
#search_kcss a {
	padding: 2px; color:#004080;
	text-decoration:underline;
}
#search_kcss a:hover{
		color:#FF3300;
}
a:link, a:visited, a:hover {
	color: #06c;
}
a:link, a:visited, a:hover {
	color: #03c;
}
#search_kcss .acss a {
	color: #053E02;
}
#main_s_content{
	border: 1px solid #AAC7E9;
	background: #F6FDFF;
	color: #004080;
	height: auto;
	font-size: 12px;
	line-height: 26px;
	margin: 0 auto;
	margin-bottom: 15px;
	padding:10px;
}
.result_list {
	clear: both;
}
ol, ul {
	list-style: none;
}

#main_s_content ol li ,.item,.list dl ,#main_s_content .list_news,#main_s_content .qa-list dl dd{
	 line-height:24px;
	text-align: left;
	padding: 5px;
	border-bottom:1px #9EC0D1 dashed; margin-bottom:10px;

}


.main{
	background: #F6FDFF;

	height: auto;
	font-size: 12px;
	line-height: 26px;
	text-align: left;
	margin-bottom: 15px;
	padding:10px;

}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: bold;
}
#main_s_content ol li h3,.qa-list dd a,.qa-list h3,.list dl dt,#main_s_content .list_news h3{
	font-size:14px; 
	font-weight:bolder;
	text-align:left;
}
#main_s_content ol li h3 a,.qa-i-hd h3 a,.list dl dt a,#main_s_content .list_news h3 a
{
	color:#0C5A94;
}
a{
	text-decoration:none;
}
#main_s_content ol li h3 a:hover,.qa-i-hd h3 a:hover,.list dl dt:hover,#main_s_content .list_news h3 a:hover{
	text-decoration:underline;
}
#main_s_content .item h3,.qa-list dd {text-align:left;}
#main_s_content h3,.qa-list dd a {
	color: #004080;
	font-family: 黑体;
	text-align:center;
}
#main_s_content ol li h3 a em ,.qa-i-hd h3 a b,.qa-list dd a em,.list dl dt a em,#main_s_content .list_news h3 a font{
	color:#FF0000; font-weight:bold;
}
#main_s_content .list_news p{text-align:left;}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}
.summary {
	clear: both;
}
#main_s_content .info {
	display: none;
}
.info {
	color: #666;
	font-size: small;
}
#main_s_content .ico_official {
	display: none;
}
.ico_official {
	width: 20px;
	height: 17px;
	float: left;
	background-position: 5px -46px;
}
.filter div, .ico_expert, .ico_pic, .ico_official, .ico_lv0, .ico_lv1, .ico_lv2, .ico_lv3, .ico_lv4, .ico_lv5, .ico_lv6, .ico_lv7, .ico_lv8, .ico_lv9, .ico_lv10, .ico_lv11, .ico_lv12, .ico_lv13, .ico_lv14, .ico_lv15, .ico_lv16, .ico_lv17, .ico_lv18, .ico_lv19, .ico_lv20 {
	background: url(http://cache.soso.com/wenwen/i/search_result1.gif) no-repeat;
}
.pagination ,.pager{
	padding: 1px 0 26px;
	font-size: 12px;
	text-align: left;
	clear: both;
}
.pagination ul, .pagination p{
	margin:0px;padding:0px;
}
.pagination ul li ,.pagination p{
	float:left;
}
.pagination ul li a,.pagination p a,.pager a{
	padding:3px;margin-right:5px; margin-left:5px; border:1px #99CCFF solid;
	color:#0C5A94;
	padding-left:5px; padding-right:5px;
}
.pagination ul li a:hover,.pagination p a:hover,.pager a:hover{
	background:#FF6600; color:#fff;border:1px solid #FF3300;
}
.current,.page-cur{
	font-weight:bold;padding-left:5px; padding-right:5px; color:#FF3300;
}
input{
	 font-size:12px; padding:2px;

}
#frm_search a{
   color:#164483; 
}
#frm_search a:hover{
	text-decoration:underline;
}

#goTopBtn {
	POSITION: fixed; TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 30px; BOTTOM: 35px; HEIGHT: 33px; FONT-SIZE: 12px; CURSOR: pointer; RIGHT: 15px; _position: absolute; _right: auto
}

#popup_show {
	display: none;
	text-align: center;
	font-size: 12px;
	z-index: 9999;
	position:absolute;
	right:300px;
	top:200px;
	width:400px;
	line-height:22px;
	min-height:60px;
	color:#333333;
	}
#popup_show .tcen{
	background:#fff url('/admin/winskin/qq/images/content_bg.gif') repeat-x;
	padding-top:20px; padding-bottom:10px;
	border:1px #31699C solid; border-top:0px;
}
#popup_show span{
	background:#FFFFFF url('../../../winskin/qq/images/btn_bg.gif') no-repeat; cursor:pointer; display:block; 
	width:80px; height:21px; text-align:center; margin-top:20px;
}
#popup_show #ttop{
	background:#fff url('../../../winskin/qq/images/title_bg_center.gif'); height:25px; line-height:25px; 
}
#popup_show #ttop .ttppt{
	color:#fff;
	font-weight:bold; 
	float:left;
}
#popup_show #ttop .ttopL{
	background:#fff url('../../../winskin/qq/images/title_bg_left.gif') no-repeat; width:4px; float:left;
}
#popup_show #ttop .ttopR{
	background:#fff url('../../../winskin/qq/images/title_bg_right.gif') no-repeat; width:4px; float:right;
}